body{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  width: 750px;
  background: #f5f5f5;
  font-family: arial;
  border: 1px solid black;
}
/*头部*/
.nav {
  width: 100%;
  height:88px;
  background: #1861ae;
  text-align: center;
  line-height: 88px;
  font-size: 30px;
  font-weight: 400;
  color: #fff;
}

/*公共样式*/

/*工单内容*/
.order_wrapper{
  width: 710px;
  margin: -20px auto 20px;
}
.order_wrapper .order_table:not(:last-child){
  border-bottom: 1px solid #eeeeee;
}
.order_wrapper .order_table{
  width: 100%;
  height: 100px;
  background: #fff;
  /*padding: 22px;*/
  line-height: 100px;
}

.order_wrapper .order_table h5{
  text-align: left;
  padding: 0 10px;
  font-size: 24px;
  color: #1861ae;
  font-weight: 550;

}
.order_wrapper .order_table span{
  text-align: left;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  color: #676767;

}
.order_wrapper .order_table .type_select{
  float: right;
  margin-right: 30px;
  display: inline-block;
}
.order_wrapper .order_table .type_select span {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #676767;
  /*margin-right: 0;*/
}

.order_wrapper .order_table input{
  border: none;

}
.order_wrapper .order_table .pro_select{
  float: right;
  margin-right: 30px;
  display: inline-block;
}
.order_wrapper .order_table .pro_select i {
  color: red;
  margin: 0 10px;
}
.order_wrapper .order_table .pro_select select{
  width: 120px;
  outline: none;
  border: none;
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  color: #969696;
  margin-right: 0;


}
/*客户信息*/


/*结余信息*/
.res{
  margin: 0 auto;
  width: 710px;
  height: 80px;
  background: #fcf9d6;
  text-align: center;
  /*line-height: 80px;*/
  font-size: 20px;



}
.res p{
  color: #6b6766;
  text-indent: 2rem;
  line-height: 40px;
  margin-right: 2rem;
}
.res p span{
  color: red;
}
/*提交按钮*/
.btn_wrapper{
  width: 240px;
  height: 60px;
  border-radius: 10px;
  background: #1960b0;
  color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 28px;
  margin: 40px auto;

}
